<!doctype html>
<!--
 Copyright 2020 Google LLC

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-->
<html>
  <head>
    <meta charset="utf-8">
    <title>auth handler</title>
  </head>
  <body>
  </body>
  <script defer>
      var token = '<%- post_body %>';
      if (token == '') {
        token = window.location.hash.substring(1);
      }

      // Respond with token based on how we got here (popup/redirect)
      const redirectUrl = localStorage.getItem('onSuccessfulAuthRedirect');
      if (redirectUrl) {
        localStorage.removeItem('onSuccessfulAuthRedirect');
        localStorage.setItem('authResponse', token)
        window.location.href = redirectUrl;
      }
      else if (window.opener) {
        window.opener.postMessage(token);
        window.close();
      }
  </script>
</html>